@import '../../../../styles.scss';

button[mat-button] {
    background-color: $button-color;
    color: $container-color;
    border: none;
    border-radius: 5px;
    padding: 20px 24px;
    font-family: $font-family;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    line-height: 24px;
    letter-spacing: normal;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  
        &:hover {
            background-color: darken($button-color, 10%);
        }

        &:focus {
            outline: none;
        }
}