$font-family: 'Hind', sans-serif;
$global-border: 1px solid #C4C5C7;
$global-color: #efefef;
$container-color: #ffffff;
$button-color: #326DF3;
$padding-size: 16px;
$border-radius: 5px;

body {
    background-color: $global-color;
    margin: 0;
    padding: 16px;
    width: 100%;
    height: 100%;
    font-family: $font-family;
}

* {
    box-sizing: border-box;
}

div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border: $global-border;
    border-radius: $border-radius;
    background-color: $container-color;

}